<div class="container">
  <form class="filter" (submit)="submit()" [formGroup]="filterGroup" autocomplete="off">
    <div class="filter__price">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input
          matInput
          class="filter__price--lower"
          type="number"
          min="0"
          formControlName="lowerPrice"
        />
      </mat-form-field>
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-form-field>
        <mat-label>To</mat-label>
        <input
          matInput
          class="filter__price--higher"
          type="number"
          min="0"
          formControlName="higherPrice"
        />
      </mat-form-field>
    </div>
    <div class="filter__room-area">
      <p class="filter__room-area--label">Number of rooms</p>
      <div class="filter__rooms">
        <mat-checkbox color="primary" class="filter__rooms--one" formControlName="oneRoom"
          >One room</mat-checkbox
        >
        <mat-checkbox color="primary" class="filter__rooms--two" formControlName="twoRooms"
          >Two rooms</mat-checkbox
        >
        <mat-checkbox color="primary" class="filter__rooms--three" formControlName="threeRooms"
          >Three rooms</mat-checkbox
        >
        <mat-checkbox color="primary" class="filter__rooms--four" formControlName="fourRooms"
          >Four rooms</mat-checkbox
        >
      </div>
    </div>
    <div class="filter__area">
      <mat-icon matSuffix>filter_2</mat-icon>
      <mat-form-field>
        <mat-label class="filter__area--sign">Area</mat-label>
        <input
          class="filter__area--input"
          type="number"
          min="0"
          max="1000"
          matInput
          formControlName="area"
          placeholder="m²"
        />
      </mat-form-field>
    </div>
  </form>
  <div class="list-view-control" (click)="toggleListView()">
    <mat-icon matSuffix> {{ view === 'center' ? 'grid_on' : 'crop_din' }} </mat-icon>
  </div>
  <div class="ads">
    <ng-container *ngFor="let ad of adList | filter : filterInstance">
      <div
        [ngClass]="{
          'ad-container--grid': view === 'grid',
          'ad-container--center': view === 'center'
        }"
      >
        <app-advertisement [ad]="ad" [viewType]="'catalog'"> </app-advertisement>
      </div>
    </ng-container>
  </div>
</div>
