:host {
  width: 100%;
}

.ad-container {
}

.ad-catalog {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  background-color: white;
  border: 1px solid #dedede;
  border-radius: 8px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__title-control {
    display: flex;
    gap: 20px;
    justify-content: flex-start;

    width: 100%;
    height: 60px;
    margin-bottom: 10px;

    &--title,
    &--title-pointer {
      width: 100%;
      height: 100%;
      font-size: 26px;

      color: navy;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-line;
      word-break: break-word;
    }

    &--title-pointer {
      cursor: pointer;
    }

    &--control {
      margin-right: -8px;
      margin-top: -10px;

      cursor: pointer;
    }
  }

  &__description-container {
    overflow: hidden;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;

    color: dimgrey;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__image-container {
    margin: 0 auto;
    width: 100%;
  }

  &__image {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 6 / 4;
  }

  &__address {
    display: flex;
    gap: 10px;
    align-items: center;

    margin: 10px;

    &--icon {
    }

    &--title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-wrap;

      color: black;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
      Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }
}
