:host {
  width: 100%;
}

.ads {
  margin: 100px auto;
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.ad-container--grid {
  width: 32%;
}

.ad-container--center {
  margin: 0 auto;
  width: 50%;
}
